div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}
#red{
    background-color: rgb(240, 5, 5);
    animation: blink 0.2s  ease-in-out .1s infinite normal;
}
#blue{
    background-color: rgb(1, 1, 167);
    animation: blink 0.25s  ease-in 0.15s infinite normal;
}
#yellow{
    background-color: rgb(255, 255, 0);
    animation: blink 0.3s  ease 0.2s infinite normal;
}
#pink{
    background-color: rgb(2, 40, 207);
    animation: blink 0.35s  ease 0.25s infinite normal;
}
#green{
    background-color: green;
    animation: blink 0.4s  ease 0.3s infinite normal;
}
#purple{
    background-color: rgb(255, 0, 255);
    animation: blink 0.45s  ease 0.35s infinite normal;
}
#orange{
    background-color: orange;
    animation: blink 0.5s  ease 0.4s infinite normal;
}
#outer{
    display: flex;
    height: auto;
    width: auto;
}
 

@keyframes blink {
    25%{
        opacity: 0.5;
    }
}