body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#box1{
    background-color: pink;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}
#box5{
    background-color: brown;
}
