div{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    background-image: url("nature.jpg");
    background-size: cover;
    position: fixed;
    right: 0px;
    top: 100px;
    color: rgb(249, 251, 252);
}
/* body{
    background-image: url("nature.jpg");
    background-size: cover;
} */
footer{
    background-color: yellow;
    height: 100px;
    text-align: center;
}