#navbar{
    height: 60px;
    background-color: #0f1111;
    border-color: white;
    border-width: 4px;
    border-style: solid; 
 
}
body{
    background-color: rgb(3, 3, 61);
}
a{
    color: rgb(173, 141, 24);
    font-size: 20px;
    text-decoration: none;
    margin-right: 190px;
}
#button2{
    background-color: #f08804;
    color: white;
}
.myclass{
    color: white;
}
#traffic{
    height: 60px;
    background-color: #0f1111;
    border-color: white;
    border-style: solid;  
}